src/proxy/.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sercice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sercice/" name="BankServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://sercice/" schemaLocation="http://localhost:8585/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="convertEuroToDihms">
<part name="parameters" element="tns:convertEuroToDihms"></part>
</message>
<message name="convertEuroToDihmsResponse">
<part name="parameters" element="tns:convertEuroToDihmsResponse"></part>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"></part>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"></part>
</message>
<message name="getListAccount">
<part name="parameters" element="tns:getListAccount"></part>
</message>
<message name="getListAccountResponse">
<part name="parameters" element="tns:getListAccountResponse"></part>
</message>
<portType name="bankService">
<operation name="convertEuroToDihms">
<input wsam:Action="http://sercice/bankService/convertEuroToDihmsRequest" message="tns:convertEuroToDihms"></input>
<output wsam:Action="http://sercice/bankService/convertEuroToDihmsResponse" message="tns:convertEuroToDihmsResponse"></output>
</operation>
<operation name="getAccount">
<input wsam:Action="http://sercice/bankService/getAccountRequest" message="tns:getAccount"></input>
<output wsam:Action="http://sercice/bankService/getAccountResponse" message="tns:getAccountResponse"></output>
</operation>
<operation name="getListAccount">
<input wsam:Action="http://sercice/bankService/getListAccountRequest" message="tns:getListAccount"></input>
<output wsam:Action="http://sercice/bankService/getListAccountResponse" message="tns:getListAccountResponse"></output>
</operation>
</portType>
<binding name="bankServicePortBinding" type="tns:bankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="convertEuroToDihms">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getListAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BankServiceService">
<port name="bankServicePort" binding="tns:bankServicePortBinding">
<soap:address location="http://localhost:8585/"></soap:address>
</port>
</service>
</definitions>